{% extends "base.html" %}

{% block title %}Employee Delete{% endblock title %}

{% block content %}
  <h1>Employee Delete</h1>
  <form method="POST">
    <div class="mb-3">
      <label for="first_name" class="form-label">First Name:</label>
      <input
        type="text"
        class="form-control"
        id="first_name_id"
        name="first_name"
        placeholder="First Name"
        value="{{ employee.first_name }}"
        disabled
      >
      <div id="first_name_help_id" class="form-text">First Name of User</div>
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label">Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="last_name_id"
        name="last_name"
        placeholder="Last Name"
        value="{{ employee.last_name }}"
        disabled
      >
      <div id="last_name_help_id" class="form-text">Last Name of User</div>
    </div>

    <div class="mb-3">
      <label for="weekly_salary" class="form-label">Weekly Salary:</label>
      <input
        type="text"
        class="form-control"
        id="weekly_salary_id"
        name="weekly_salary"
        placeholder="Weekly Salary"
        value="{{ employee.weekly_salary }}"
        disabled
      >
      <div id="weekly_salary_help_id" class="form-text">Weekly Salary of User</div>
    </div>

    <h3>Are you sure you want to delete this Employee?</h3>
    <button class="btn btn-danger" type="submit">Delete</button>
    <a href="{{ url_for('employee_list_view') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock content %}